imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: en

framework:
    #esi:             ~
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    serializer:      { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # http://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        handler_id:  session.handler.native_file
        save_path:   "%kernel.root_dir%/../var/sessions/%kernel.environment%"
    fragments:       ~
    http_method_override: true
    assets: ~
    php_errors:
        log: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"

# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/../var/data/data.sqlite"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #path:     "%database_path%"

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
        resolve_target_entities:
            Symfony\Component\Security\Core\User\UserInterface: Namespace\YourUserBundle\Entity\User

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

#FOS_USER
fos_user:
    db_driver: orm # other valid values are 'mongodb' and 'couchdb'
    firewall_name: main
    user_class: AppBundle\Entity\User
    from_email:
        address: noreply@absolumentpastv.com
        sender_name: AbsolumentPasTV

fos_rest:
    routing_loader:
        include_format: false
    view:
        view_response_listener: true
    format_listener:
            rules:

                - { path: '^/', priorities: ['html'], fallback_format: 'html' }

easy_admin:
    site_name: '<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Cartoon_Network_2010_logo.svg/2000px-Cartoon_Network_2010_logo.svg.png" />'
    entities:
      User:
        class: AppBundle\Entity\User
        form:
          fields:
            - username
            - email
            - enabled
            - lastLogin
            # if administrators are allowed to edit users' passwords and roles, add this:
            - { property: 'plainPassword', type: 'text', type_options: { required: false } }
            - { property: 'roles', type: 'choice', type_options: { multiple: true, choices: { 'ROLE_USER': 'ROLE_USER', 'ROLE_ADMIN': 'ROLE_ADMIN' } } }
        edit:
          fields:
            - { property: 'plainPassword', type_options: { required: false} }
          form_options: { validation_groups: ['Profile'] }

        new:
          fields:
            - { property: 'plainPassword', type_options: { required: true} }
          form_options: { validation_groups: ['Registration'] }

      Actuality:
        class: AppBundle\Entity\Actuality
        form:
          fields:
           - titleNews
           - subtitleNews
           - imageNews
           - contentNews
           - authorNews #TODO: Changing the fields that they can automatically be set
           - dateNews #TODO: Changing the fields that they can automatically be set

           - rankNews

      Programme:
        class: AppBundle\Entity\Programme
        form:
          fields:
            - titleProgram
            - numberSeason
            - dateProgram
            - imageProgram #TODO: Search for type of column to update an image
            - descriptionProgram

      Personnage:
        class: AppBundle\Entity\Personnage
        form:
          fields:
            - name
            - serie
            - rank

    design:
      brand_color: '#30D997'
      color_scheme: 'light'
