/*
** LEFT : CARTOON NETWORK
*/
.title_welcome_login {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
}
.logo_login {
	width: 250px;
	height: auto;
}
.title_compte_login {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
}
.title_create_login {}